/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-container {
    margin-top: 50px;
}
.defi-column {
    display: flex;
    flex-direction: column;
}
