.list-container{
    display: flex;
    justify-content: center;
}

.defi-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    >div, button, input {
        margin-left: 5px;
    }
}