.navbar {
    background: rgb(49, 48, 48);
    height: 60px;
}

.title {
    color: white;
    font-size: x-large;
}

.connect-wallet {
    color: rgb(108, 255, 182);
    font-size: larger;
    font-weight: bold;
}