.defi-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

    .to {
        margin-bottom: 5px;
    }
}

.dropdown {
    margin-left: 5px;
}

.swap-box {
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 5px;

    border-radius: 10px;
    border-color: rgb(91, 1, 143);
    padding: 5px;
}

.text {
    color: white;
    width: 50px;
}

.icon-container {
    margin-top: 5px;
    margin-bottom: 5px;
}

.button-container {
    width: 100%;
    .btn {
        width: 100%;
    }
}

svg {
    fill: white;
}
